<h2> LLamada cliente <%= call.client_id %> <h2>
<hr>
<br>
<div id="<%= dom_id call %>">
<td scope="row">
<%= call.reason %>
</td>
<td>
<%= call.detail %>
</td>
<td>
<%= call.client_id %>
</td>
<td>
<%= call.created_at%>
</td>
</div>