<!DOCTYPE html>
<html>
  <head>
    <title>Ensayo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="p-3 m-0 border-0">
    <%= render "shared/navbar" %> 
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
